*{box-sizing: order-box}

body {
	background-image: url("sample-background.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
	display: inline-block;
	font-family: "Courier New", Courier, monospace;
	padding: 0;
	margin: 0;
}

.red {
	color: #124910;
}

.container1 {
	position: fixed;
	background-color: black;
	width: 100%;
	display: inline-block;
	padding: 15px 0;
}

.nav {
	color: white;
	text-align: right;
	padding-right: 16px;
}
a:link.nav-link, a:visited.nav-link {
	color: white;
	text-decoration: none;
	border-bottom: dotted 1px #909090;
}

a:hover.nav-link {
	color: #124910;
	text-decoration: none;
	border-bottom: dotted 1px #909090;

}

.container2 {
	width: 100%;
	padding-bottom: 200px;
	padding-top: 100px;
	display: inline-block;
}

.header {
	color: white;
	padding-left: 60%;
	line-height: 0;
}

.section {
	width: 70%;
	height: 100%;
	font-family: Arial, Helvetica, sans-serif;
	margin: auto;
	padding: 16px 0;
}

.split-section{
	width: 100%;
	margin: auto;
}

.left-heading {
	float: left;
	width: 15%;
	height: 100%;
	text-align: Left;
	margin-right: 30px;
	padding-top: 0;
}

.section-body-full{
	padding-top: 5px;
	display: inline-block;
	width: 80%;
	height: 100%;
	text-align: left;
}

.section-body-small{
	display: inline-block;
	width: 68%;
	text-align: left;
	padding-top: 6px;
}

.right-info {
	width: 10%;
	float: right;
	text-align: left;
	margin-right: 30px;
}

.full-half {
	padding-top: 1px;
	list-style-position: outside;
	display: inline-block;
	width: 45%;
	height: 100%;
}

a:link.contact-link, a:visited.contact-link  {
	color: #909090;
	text-decoration: none;
	border-bottom: dotted 1px #909090;
}

a:hover.contact-link {
	color: white;
	border-bottom: dotted 1px white;
}

.container3 {
	background-color: black;
	width: 100%;
	display: inline-block;
	padding: 15px 0;
}

#intro {
	width: 100%;
	background-color: grey;
	color: white;
	display: inline-block;
	height: 200px;
}

#resume {
	width: 100%;
	background-color: white;
	display: inline-block;
}

#portfolio {
	width: 100%;
	background-color: grey;
	color: white;
	display: inline-block;
	height: 200px;
}

#contact-info {
	width: 100%;
	background-color: #333333;
	color: white;
	display: inline-block;
}

#footer{
	color: white;
	text-align: center;
}
